.pagecarto-map {
  position: relative;
  /* Add styles for your map container */
}

.zoom-buttons {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
}

.zoom-buttons button {
  background-color: rgb(36, 36, 36);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 32px;
  height: 32px;
  font-size: 1rem;
}

.zoom-in {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.zoom-out {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.zoom-buttons button:hover {
  cursor: pointer;
}

.pagecarto-legends {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pagecarto-legends .legend-group {
  display: flex;
  width: 100%;
}

.pagecarto-legends .legend {
  width: 50%;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(60, 60, 60, 0.1);
  padding: 1rem;
  background: #ffffffe6 !important;
}

.pagecarto-legends .legend:first-child {
  margin-right: 1rem;
}

.pagecarto-legends .legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 5px;
}

.pagecarto-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.pagecarto-map-container,
.pagecarto-content-container {
  width: 50%;
  box-sizing: border-box; /* Include padding and border in the width */
  padding-left: 1rem;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .pagecarto-map-container,
  .pagecarto-content-container {
    width: 100%; /* Make each item take 100% width on smaller screens */
  }
}
